$darkBlue:#000033;
$pink: #cc0033;
$grey: #333333;
@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: $darkBlue;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: "header header " "left right " "footer1 footer"
}

.navbar {
    grid-area: header;
    @include flex;
    margin-top: 3rem;
}

.logo {
    width: 20%;
    letter-spacing: .2rem;
}

span {
    color: $pink;
}

#navigation {
    width: 60%;
    @include flex;
    a {
        margin-top: .5rem;
        text-align: center;
        text-decoration: none;
        color: white;
        margin-left: 1.4rem;
        font-size: 1rem;
    }
}


.left {
    @include flex;
    flex-direction: column;
    grid-area: left;
    margin-left: 4rem;

    h1 {
        width: 30%;
        text-align: center;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: .4rem;
        line-height: 4rem;
    }
    h3 {
        margin-top: 2rem;
        font-size: .9rem;
        font-weight: 100;
    }
    h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
}

.right {
    grid-area: right;
    @include flex;
    text-aligh: center;
    margin-left: 5rem;
    width: 70%;
    height: 100%;
}

.home {
    display: flex;
}

.about {
    display: none;
    flex-direction: column;
}

.portafolio {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    .circle {
        margin-left: 1rem;
        &:hover {
            width:8rem;
            height:8rem;
        }
    }
}

.contact {
    display: none;
}

.social {
    @include flex;
    grid-area: footer1;
    height: 2.6rem;
    img {
        margin-left: 2rem;
        height: 2rem;
        width: auto;
        filter: brightness(0) invert(1);
    }
}

.circle {
    margin: 0 auto;
    width: 7rem;
    height: 7rem;
    background: $grey;
    border-radius: 100%;
    margin-top: 2rem;
}

.about-content {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}